body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

form, textarea, button {
    width: 80%;
    margin: 20px auto;
}

input, textarea, #trigger, #trigger1, #trigger2 {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

textarea {
    height: 120px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  	padding-left: 0 !important;
}

li {
    list-style: none;
    padding: 10px;
    margin: 5px 5px;
    text-align: center;
    flex-grow: 1;
}

.product-clicked {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px;
    border-radius: 5px;
    animation: pop 0.6s;
    margin-top: -10px;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

i {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
    color: #555;
}

button {
    background-color: #bbb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 0;
    transition: 0.3s;
    min-width: 242px; 
    max-width: 440px;
    height: 44px;
}

button:hover {
    background-color: #999;
}

.center {
    text-align: center;
}

@media (max-width: 768px) {
    form, textarea, button {
        width: 90%;
    }

    i {
        font-size: 30px;
    }
}

#allDiv {
	display: flex;
	justify-content: space-around;
}

.fileDiv {
	flex-direction: column;
	align-items: center;
}

img {
	width: 242px;
	height: 240px;
	margin-bottom: 12px;
}

#regBtn {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 100%;
	
}

#modBtn, #delBtn {	
	height: 42px;
	border-radius: 8px;
}
