* {
    font-family: 'Bebas Neue', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
/* header */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
}
.logo-title {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.logo-title img {
    height: 30px;
}
.logo-title h1 {
    margin-left: 10px;
    color: black;
    font-size: 20px;
}
.header {
    display: flex;
    justify-content: space-between; /* header 내부 요소들을 좌우 양쪽으로 분배 */
    width: 100% !important; /* header 요소의 너비를 최대로 설정 */
}
.header-right {
    display: flex;
    justify-content: flex-end; /* 우측에 위치하는 요소들을 우측 끝으로 정렬 */
}

@media screen and (max-width: 1669px) {
    .header {
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
}
/* 회원가입 / 검색 */
.info, .search{
    margin-top: 5px;
}
.info>a{
color: black;
top: 0;
right: 0;
display: inline-block;
margin-right: 10px;
}
span:hover{
cursor: pointer;
}
#tooltip>a{
color: white;
text-align: center;
}
.info {
    position: absolute;
    top: 10px;
    right: 10px;
}

#tooltip {
    position: absolute;
    top: 40px;
    right: -10px;
    display: none;
    color: #ffffff;
    background: #00000069;
    border-radius: .4em;
    padding: 10px;
    white-space: nowrap;
    z-index: 9999;
}

.speech-bubble {
    background: #00000069;
    border-radius: .4em;
    padding: 10px;
    white-space: nowrap;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 83%;
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #00000069;
}
.fa-sharp{
    cursor: pointer;
}

/* 230710 서치 수정 */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #fbfbfd;
    background-color: rgba(116, 112, 112, 0.836);
    overflow-x: hidden;
    transition: 0.5s;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
  }
  .overlay-content h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.blurry-part {
    height: 0%;
    backdrop-filter: blur(8px);
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: 0.5s;
}

@media screen and (max-height: 100%) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.overlay-content ul li{
    list-style-type: none;
}

.overlay-content li{
    color: white;
    font-size: 24px;
}
.search-container {
    width: 95%;
    box-sizing: border-box;
  }
  .search-container h1{
    text-align: center;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 4px;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .search-box button {
    padding: 10px 20px;
    border: none;
    background: linear-gradient(to bottom, #f5f6f7, #e7e8e9);
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    border-radius: 4px;
  }
  
  .search-box button:hover {
    background: linear-gradient(to bottom, #e7e8e9, #d6d7d8);
  }
  
  .quickly ul {
    padding: 0;
    list-style: none;
  }
  
  .quickly ul li {
    margin-bottom: 10px;
  }
  
  .quickly ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  .search {
    position: absolute;
    top: 10px;
    right: 50px;
}
  
/* 230710 서치 수정끝 */

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ccc;
}

.footer div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footinfo, .footsns {
    flex-direction: row;
    gap: 10px;
}

.footsns a {
    color: #555;
    text-decoration: none;
}

.ft-logo img, .footinfo h6 {
    font-size: 0.8em;
    color: #555;
}

.ft-logo{
    margin-right: 5px;
}

.gender-selection {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.gender-icon {
    cursor: pointer;
    transition: color 0.3s;
}

.gender-icon.selected {
    color: #007AFF;
}
.ft-logo{
    margin-right: 10px;
}
.footsns{
    text-align: center;
}