<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.myweb.www.repository.CustomerDAO">
    
    <insert id="join">
    insert into customer(cid, cname, cpw, cage, cgender, cnick_name, cemail,
    ctel, cadd)values(#{cid}, #{cname}, #{cpw}, #{cage}, #{cgender},
    #{cnick_name}, #{cemail}, #{ctel}, #{cadd})
    </insert>
    
    <select id="getUser" resultType="com.myweb.www.domain.CustomerVO">
    select * from customer where cid = #{cid} and cpw = #{cpw}
    </select>
    
    <select id="getAdmin" resultType="com.myweb.www.domain.AdminVO">
    select * from admin
    </select>
    
    <update id="modify">
    update customer set cid = #{cid}, cpw = #{cpw}, cname = #{cname}, 
    cage = #{cage}, cnick_name = #{cnick_name}, cemail = #{cemail}, 
    ctel = #{ctel}, cadd = #{cadd} where cid = #{cid}
    </update>
    
    <delete id="delete">
    delete from customer where cid = #{cid} and cpw = #{cpw}
    </delete>
    </mapper>