.content {
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  margin-bottom: 30px;
  text-align: center;
}
th, td {
  text-align: center;
  padding: 15px; /* 셀 주변에 여백 추가 */
}
.edit-link {
  color: #007bff;
}
.edit-link:hover {
  color: #0056b3;
  text-decoration: none;
}
/* 테이블 행 하이라이트 */
tbody tr:hover {
  background-color: #007bff;
  color: red;
}
/* 테이블에 border-radius 추가 */
.table {
  border-radius: 15px;
  overflow: hidden; /* 테이블에 border-radius가 적용되게 함 */
}